@import "../../../../styles/breakpoints.scss";

// Desktop, Table Navigation
.rsc-navigation {
  display: flex;
  align-items: center;

  // The navbar item container
  .rsc-nav-item-container {
    position: relative;
    margin-right: 0.8vw;
    font-size: clamp(16px, 2vw, 20px);
  }

  // The navbar item
  .rsc-nav-item {
    display: flex;
    align-items: center;

    &.is-active {
      a {
        padding: 8px 12px;
        border-radius: 8px;
        background-color: var(--call-to-action-active);
        transition: all ease-in-out 0.2s;
      }
    }

    .rsc-arrow-down {
      color: var(--light-bg);
      padding: 4px 8px;
      transition: all ease-in-out 0.2s;
      &:hover {
        font-weight: bold;
        cursor: pointer;
      }

      &.is-open {
        transform: rotate(-180deg);
      }
    }

    a {
      padding: 8px 12px;
      border-radius: 8px;
      color: var(--light-bg);
      text-decoration: none;

      &:hover {
        font-weight: bold;
        transition: all ease-in-out 0.2s;
        background: var(--call-to-action-hover);
      }
    }

    // Children
    &s-children {
      position: absolute;
      opacity: 0;
      bottom: -108px;
      display: flex;
      flex-direction: column;
      width: 260px;
      background-color: var(--primary-color6);
      box-shadow: 0px 0px 4px 0px var(--light-bg);
      border-radius: 8px;
      transition: all ease-in-out 0.2s;

      &.is-open {
        opacity: 1;
      }

      // Child
      .rsc-nav-child {
        padding: 8px;

        &:first-child {
          border-radius: 8px 8px 0 0;
        }
        &:last-child {
          border-radius: 0 0 8px 8px;
        }

        &.is-active {
          background-color: var(--call-to-action-active);
        }

        &:hover {
          background-color: var(--call-to-action-hover);
        }

        a {
          color: var(--light-bg);
          text-decoration: none;

          &:hover {
            font-weight: bold;
          }
        }
      }
    }
  }
}

// Mobile Navigation
.rsc-mobile-navigation {
  display: none;
  width: 40px;
  height: 40px;
  padding: 4px;
  z-index: 200 !important;

  &:hover {
    cursor: pointer;
  }

  .line {
    width: 100%;
    height: 6px;
    background-color: var(--light-bg);
    border-radius: 4px;
    transition: all ease-in-out 0.2s;
  }
  .line:nth-child(2) {
    margin: 6px 0;
  }

  &.is-expanded {
    .line {
      transition: all ease-in-out 0.2s;
    }

    .line:first-child {
      transform: rotate(45deg) translate(10px, 10px);
    }
    .line:nth-child(2) {
      visibility: hidden;
    }
    .line:last-child {
      transform: rotate(135deg) translate(-5px, 10px);
    }
  }
}

.rsc-mobile-navigation-container {
  display: none;

  &.is-open {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--primary-color6);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;

    .rsc-nav-item-container {
      font-size: 32px;

      .rsc-nav-item,
      .rsc-nav-child {
        a {
          padding: 4px 8px;
          border-radius: 4px;
          &:hover {
            font-weight: bold;
            background-color: var(--call-to-action-hover);
          }
        }

        &.is-active {
          a {
            background-color: var(--call-to-action-active);
          }
        }
      }

      &:not(:last-child) {
        margin-bottom: 16px;
      }

      a {
        text-transform: uppercase;
        color: var(--light-bg);
        text-decoration: none;
      }
    }
    .rsc-nav-item-container:nth-child(2) {
      display: block;
      text-align: center;
      margin-bottom: 0;

      .rsc-nav-item,
      .rsc-nav-child {
        margin-bottom: 16px;
      }

      .rsc-arrow-down {
        display: none;
      }
    }
  }
}

@media screen and (max-width: $breakpoint-md-max) {
  .rsc-navigation {
    display: none;
  }
  .rsc-mobile-navigation {
    display: block;
  }
  .rsc-mobile-navigation-container.is-open {
    display: flex;
  }
}
