.rsc-navigation {
  display: flex;
  align-items: center;
  font-size: clamp(1.2rem, 1.2vw, 4rem);

  // The navbar item container
  .rsc-nav-item-container {
    position: relative;
    margin-right: 0.8vw;
  }

  // The navbar item
  .rsc-nav-item {
    display: flex;
    align-items: center;

    &.is-active {
      a {
        padding: 8px 12px;
        border-radius: 8px;
        background-color: var(--call-to-action-active);
        transition: all ease-in-out 0.2s;
      }
    }

    .rsc-arrow-down {
      color: var(--light-bg);
      padding: 4px 8px;
      transition: all ease-in-out 0.2s;
      &:hover {
        font-weight: bold;
        cursor: pointer;
      }

      &.is-open {
        transform: rotate(-180deg);
      }
    }

    a {
      padding: 8px 12px;
      border-radius: 8px;
      color: var(--light-bg);
      text-decoration: none;

      &:hover {
        font-weight: bold;
        transition: all ease-in-out 0.2s;
        background: var(--call-to-action-hover);
      }
    }

    // Children
    &s-children {
      position: absolute;
      opacity: 0;
      bottom: -90px;
      display: flex;
      flex-direction: column;
      width: 210px;
      background-color: var(--primary-color6);
      box-shadow: 0px 0px 8px 0px var(--light-bg);
      padding: 8px 4px;
      border-radius: 20px;
      transition: all ease-in-out 0.2s;

      &.is-active {
        a {
          padding: 8px 12px;
          border-radius: 8px;
          background-color: rgba(0, 0, 0, 0.8);
          transition: all ease-in-out 0.2s;
        }
      }

      &.is-open {
        opacity: 1;
      }

      a {
        padding: 2px 12px;
        border-radius: 8px;
        font-size: 18px;
        color: var(--light-bg);
        text-decoration: none;

        &:hover {
          transition: all ease-in-out 0.2s;
          background: var(--call-to-action-hover);
          font-weight: bold;
        }
      }
    }
  }
}

@media only screen and (max-width: var(--tablet-max)) {
  * {
    color: red;
  }
}
