// Light Theme

[data-theme="light"] {
  --primary-color1: #0015ff;
  --primary-color2: #4b647b;
  --primary-color3: #d9e5f2;
  --primary-color4: #1b415c;
  --primary-color5: #76899e;
  --primary-color6: #06003c;

  --light-bg: #e5e5e5;
  --dark-bg: #191919;
}

// Dark Theme
[data-theme="dark"] {
}
