// Light Theme

[data-theme="light"] {
  --primary-color1: #0015ff;
  --primary-color2: #4b647b;
  --primary-color3: #d9e5f2;
  --primary-color4: #1b415c;
  --primary-color5: #76899e;
  --primary-color6: #06003c;
  --primary-color7: #00dbce;

  // Rgba (255, 140, 0, 1);
  --call-to-action: #ff8c00;
  --call-to-action-active: rgba(255, 140, 0, 0.9);
  --call-to-action-hover: rgba(255, 140, 0, 0.4);

  --light-bg: #fcfcfc;
  --dark-bg: #191919;
}

// Dark Theme
[data-theme="dark"] {
}
