@import "../../../../styles/breakpoints.scss";

.rsc-download-section {
  background-color: var(--primary-color6);
  color: var(--light-bg);
  padding: 64px 24px;

  .download-description {
    padding: 0 32px 0 16px;

    .download-title {
      margin-bottom: 12px;
    }
  }
  .download-actions {
    .rsc-pdf-container {
      width: 240px;
      padding: 16px;

      &:not(:last-child) {
        margin-right: 24px;
      }

      // Pdf Icon
      .rsc-pdf-icon {
        width: 80px;
        margin-bottom: 24px;

        svg {
          fill: var(--light-bg);
        }
      }

      // Pdf Name
      .rsc-pdf-name {
        text-align: center;
        height: 60px;
      }
    }
  }
}

@media screen and (max-width: $breakpoint-lg-max) {
  .rsc-download-section {
    flex-direction: column;

    .download-description {
      margin-bottom: 64px;
    }
  }
}

@media screen and (max-width: $breakpoint-md-max) {
  .rsc-download-section {
    .download-actions {
      flex-direction: column;
      .rsc-pdf-container {
        &:not(:last-child) {
          margin-right: 0;
          margin-bottom: 16px;
          border-bottom: 1px solid var(--light-bg);
        }
      }
    }
  }
}
