.rsc-download-section {
  height: 90vh;
  margin-bottom: -440px;
  background-color: var(--dark-bg);

  color: var(--light-bg);

  .rsc-download-container {
    height: 50%;
    display: flex;
    align-items: center;

    .descr {
      height: 100%;
      width: 30%;
      padding: 0 64px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .download-title {
        margin-bottom: 12px;
      }
    }
    .download {
      height: 100%;
      width: 70%;
      display: flex;
      align-items: center;

      .rsc-pdf-container {
        max-width: 240px;
        display: flex;
        flex-direction: column;
        align-items: center;

        &:not(:last-child) {
          margin-right: 60px;
        }

        .rsc-pdf-form {
          .rsc-pdf-icon {
            width: 80px;
            margin-bottom: 24px;

            svg {
              fill: var(--light-bg);
            }
          }
        }
        .rsc-pdf-action-container {
          display: flex;
          flex-direction: column;
          align-items: center;
          font-size: 20px;

          .rsc-pdf-name {
            text-align: center;
            height: 60px;
          }

          .rsc-actions {
            margin-top: 12px;
            margin-left: 24px;
            font-size: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 40px;
            min-width: 40px;
            background-color: var(--dark-bg);
            border-radius: 50%;
            border: 2px solid var(--primary-color1);
          }
        }
      }
    }
  }
}
