@import "../../../styles/breakpoints.scss";

.rsc-footer {
  width: 100vw;
  background: var(--rsc-footer-bg-color);
  position: relative;

  .rsc-footer-form {
    width: 100vw;
    margin-bottom: -146px;
    margin-left: -24px;
    height: 640px;
    border-radius: 0% 0% 0% 70px;
    transform: rotate(175deg);
    background-color: #e5e5e5;
    background-size: 400% 400%;
    animation: gradient 6s ease-in-out infinite;
  }
  .rsc-footer-container {
    position: absolute;
    top: 24px;
    width: 80vw;
    height: 452px;
    padding: 12px;
    // border: 1px solid black;

    .menu-container {
      .rsc-title {
        margin-bottom: 8px;
      }
      .sitemap-entries {
        margin-bottom: 40px;

        .entry {
          margin-bottom: 8px;
          a {
            text-decoration: none;
            color: var(--dark-bg);
          }
        }
      }
    }

    .social-container {
      .rsc-title {
        margin-bottom: 8px;
      }

      a {
        font-size: 28px;
        color: #9e9c9c;
      }
      a:not(:last-child) {
        margin-right: 8px;
      }
    }

    .copyright-container {
      font-size: 12px;
      margin-top: 40px;
      color: #9e9c9c;

      a {
        color: #9e9c9c;
      }
    }
  }
}

@media screen and (min-width: $breakpoint-sm-max) {
  .rsc-footer {
    .rsc-footer-container {
      .menu-social {
        display: flex;

        .menu-container {
          margin-right: 96px;
        }
      }

      .copyright-container {
        font-size: 14px;
        margin-top: 108px;
      }
    }
  }
}

@media screen and (min-width: $breakpoint-lg-min) {
  .rsc-footer {
    .rsc-footer-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 90vw;

      .logo-menu {
        display: flex;

        .logo-container {
          display: flex;
          align-items: center;
          margin-left: 2vw;
          margin-right: 14vw;
        }

        .menu-container {
          margin-right: 12vw;

          .rsc-title {
            font-size: 24px;
          }
          .entry {
            font-size: 18px;
          }
        }
        .social-container {
          .rsc-title {
            font-size: 24px;
          }

          a {
            font-size: 40px;

            &:not(:last-child) {
              margin-right: 20px;
            }
          }
        }
      }

      .copyright-container {
        font-size: 16px;
        margin-top: 82px;
      }
    }
  }
}
