.rsc-home {
  width: 100vw;
}

.home-intro-area {
  position: relative;
  height: 100vh;
  margin-top: -120px;
  background-color: #f0f0f0;

  .home-bg {
    position: absolute;
    top: -16%;
    right: -8%;
    display: flex;
    align-items: center;
    height: clamp(550px, 80%, 1440px);
    width: 105vw;
    border-radius: 0% 0% 0% 90px;
    box-shadow: 0px -2px 20px 8px #666666;
    transform: rotate(355deg);
    background: var(--primary-color6);
    background-size: 400% 400%;
    animation: gradient 6s ease-in-out infinite;

    .home-bg-title {
      margin-top: 12vh;
      margin-left: 6%;
      transform: rotate(5deg);
      color: var(--primary-color3);
      text-transform: uppercase;
      max-width: 72vw;

      .rsc-title {
        font-size: clamp(24px, 2.8vw, 48px);
      }
    }
  }

  .rsc-main-cta {
    position: absolute;
    background-color: transparent;
    bottom: 2.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 200px;
  }
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
