.rsc-header {
  display: flex;
  align-items: center;
  height: 120px;
  background-color: transparent;
  margin: 0 1vw;

  * {
    z-index: 100;
  }

  .logo-container {
    display: flex;
    flex-grow: 1;
    margin-left: 60px;
  }

  // Styling when rendered on other pages then home
  &.is-not-on-home {
    background-color: var(--primary-color6);
    margin: 0;
    padding-left: 0 24px;
    border-bottom: 2px solid var(--light-bg);
  }
}
