.rsc-header {
  display: flex;
  align-items: center;
  height: 120px;
  background-color: transparent;
  margin: 0 24px;

  * {
    z-index: 100;
  }

  .logo-container {
    display: flex;
    flex-grow: 1;
    margin-left: 60px;
  }
}
