.rsc-contact-form {
  display: flex;
  flex-direction: column;
  padding: 48px;
  max-width: 800px;
  margin: 0 auto;

  .nameEmail {
    display: flex;
    .field {
      width: 45%;

      &:first-child {
        margin-right: 10%;
      }
    }
  }

  .submit-container {
    display: flex;
    flex-grow: 1;
    justify-content: center;
  }
}
