.rsc-flowing-line {
  position: absolute;
  background-color: rgba(0, 21, 255, 0.3);
  border-radius: 8px;
  overflow: hidden;

  .rsc-line {
    border-radius: 8px;
  }

  &.flowing-left {
    .rsc-line {
      animation: 2s floatingLeft linear infinite;
    }
  }
  &.flowing-right {
    .rsc-line {
      animation: 2s floatingRight linear infinite;
    }
  }

  &.flowing-horizontal {
    display: flex;
    align-items: center;
    height: 16px;
    // Remove left container + offset
    left: 342px;
    right: 342px;

    .rsc-line {
      min-width: 24px;
      height: 8px;
      &:first-child {
        margin-left: 8px;
      }
      &:not(:last-child) {
        margin-right: 8px;
      }
    }
  }
  &.flowing-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 16px;
    height: 120px;
    bottom: -130px;

    .rsc-line {
      width: 8px;
      min-height: 24px;
      animation: 1s floatingBottom linear infinite;

      &:not(:last-child) {
        margin-bottom: 4px;
      }
    }
  }
  &.v-left {
    left: calc(320px / 2);
  }
  &.v-right {
    right: calc(320px / 2);
  }

  .rsc-line {
    background-color: rgba(0, 21, 255, 0.4);
  }
}

@keyframes floatingLeft {
  0% {
    transform: translateX(-500px);
  }
  100% {
    transform: translateX(500px);
  }
}

@keyframes floatingRight {
  0% {
    transform: translateX(500px);
  }
  100% {
    transform: translateX(-500px);
  }
}

@keyframes floatingBottom {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(180px);
  }
}
